.page-footer {
  padding: 2rem 10rem;
  @media (max-width: 1024px) {
    padding: 2rem 5rem;
  }
  @media (max-width: 768px) {
    padding: 2rem;
  }
  .container {
    text-align: center;
    font-size: var(--fz-sm);
    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 16px;
      list-style: none;
      justify-content: center;
      @media (max-width: 600px) {
        flex-direction: column;
        margin: auto;
      }
      a {
        color: var(--green);
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: var(--border-radius);
        padding: 1rem 1.25rem;
        font-size: var(--fz-sm);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        width: 100%;
        &:hover{
          background-color: var(--green-tint);
        }
        &:focus,
        &:active {
          background-color: var(--green-tint);
          outline: 2px solid;
          outline-offset: 2px;
        }
        &:after {
          display: none !important;
        }
      }
      :nth-child(2) {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          svg {
            height: var(--fz-md);
            fill: var(--green);
          }
        }
      }
    }
  }
}
