header {
  padding: 2rem;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin: 0 0 30px 4px;
      margin: 0;
      font-size: clamp(30px, 5vw, 60px);
      @media (max-width: 480px) {
        margin: 0 0 20px 2px;
      }
    }
    h2 {
      font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
      font-weight: 400;
    }
    .link-github {
      color: var(--green);
      background-color: transparent;
      border: 1px solid var(--green);
      border-radius: var(--border-radius);
      padding: 1.25rem 1.75rem;
      font-size: var(--fz-sm);
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      transition: var(--transition);
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover,
      &:focus,
      &:active {
        background-color: var(--green-tint);
        outline: none;
      }
      &:after {
        display: none !important;
      }
      svg {
        height: var(--fz-md);
        fill: var(--green);
      }
    }
  }
}
