// stylelint-disable no-descending-specificity

body {
  background-color: var(--navy);
  color: var(--lightest-slate);
  font-family: var(--font-family);
}

p {
  color: var(--slate);
}

strong {
  color: var(--blue);
}

main {
  padding: 2rem 10rem;
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

ul,
ol {
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;        
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }  
}