.skip-link {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-xs);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  &:focus,
  &:active {
    outline: none;
    background-color: var(--green);
    color: var(--navy);
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 99;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
  &:hover,
  &:focus,
  &:active {
    color: var(--green);
    outline: 0;
    &:after {
      width: 100%;
    }
    & > * {
      color: var(--green) !important;
      transition: var(--transition);
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    position: relative;
    bottom: 0.2em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.8;
  }
}
