.profile {
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  background-color: var(--light-navy);
  padding: 2rem 4rem;
  text-align: center;
  width: fit-content;
  margin: auto;
  ul {
    list-style: none;
    text-align: start;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: var(--fz-xs);
      &:before {
        content: "▹";
        position: absolute;
        left: 0;
        color: var(--green);
        font-size: var(--fz-sm);
        line-height: 18px;
      }
    }
  }
  .container {
    > a {
      color: var(--green);
      background-color: transparent;
      border: 1px solid var(--green);
      border-radius: var(--border-radius);
      padding: 1rem 1.25rem;
      font-size: var(--fz-sm);
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      transition: var(--transition);
      &:hover,
      &:focus,
      &:active {
        background-color: var(--green-tint);
        outline: none;
      }
      &:after {
        display: none !important;
      }
    }
  }
}
